* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    font-family: Bitter, sans-serif;
    padding: 10px;
    background-color: #1b1f20;
    border: 5px solid #1b1f20;
    border-radius: 1%;
}

a:link {
    text-decoration: none;
    color: #F7CF0D;
}

/* Style of header section */
#logoImageHeader {
    height: 80px;
}

#headerRow {
    margin-top: 10px;
    text-align: center;
    color: #F7CF0D;
    padding: 15 5 5 5;
    background-color: #2d3436;
}

li a {
    text-decoration: none;
    border-radius: 10%;
    color: black;
    width: 90px;
    padding: 3px;
    display: inline-block;
    margin: 1px;
    background-color: #F7CF0D;
}

li a:hover {
    color: rgb(228, 223, 201);
    background-color: rgb(177, 149, 11);
}

/* Search bar style */
#searchRow {
    border: 2px solid #1b1f20;
    background-color: #1b1f20;
}

#formSearch {
    float: right;
    border-top: 5px solid #1b1f20;
    padding-right: 5%;
    width: 35%;
}

#searchButton {
    border-width: 0px;
    padding: 1px;
    font-size: 130%;
    color: #F7CF0D;
    background-color: #1b1f20;
}

#searchButton:hover {
    color: rgb(228, 223, 201);
}

#searchInput {
    width: 90%;
    border-radius: 5%;
}

/* Body style */
#titleRow {
    text-align: center;
    border: 5px solid #1b1f20;
    color: #F7CF0D;
    background-color: #2d3436;
}

h3 {
    margin: 10px;
}

h4 {
    display: inline-block;
}

#fadedBackground {
    background-color: #535c5f;
}

#postInfo {
    color: #F7CF0D;
    background-color: #2d3436;
    border: 5px solid #1b1f20;
    padding: 5px;
}

#avatarUser {
    width: 90px;
}

#userInfo {
    padding-left: 30px;
}

#titleOfPost {
    color: #F7CF0D;
    padding-left: 10px;
}

#content {
    padding: 5px 10px;
    color: white;
}

#comment {
    border: 5px solid #0e0f0f;
}

#commentInput {
    width: 92%;
    height: 50px;
}

#commentButton {
    padding: 16 26;
    background-color: #F7CF0D;
}

/* Footer style */
#footerRow {
    font-size: 10px;
    color: 8a8a8a;
    text-align: center;
    border: 5px solid #1b1f20;
    background-color: #222222;
}

#logoImageFooter {
    margin-top: 20px;
    width: 20%;
}

#contact {
    margin-top: 10px;
}

#detail {
    padding: 0px;
}
@media only screen and (max-width: 991px) {
    #formSearch{
        width: 50%;
    }
}
    
    @media screen and (max-width: 600px) {
        .col-100, input[type=submit] {
          width: 100%;
          margin-top: 0;
        }
        .col-100 {
            float: left;
            width: 100%;
            margin-top: 6px; 
        }     
    }
          input[type=text], select {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
          }
          
          input[type=submit] {
            width: 100%;
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
          }
          
          input[type=submit]:hover {
            background-color: #45a049;
          }
          
         
        