*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
.logo{
    position: relative;
    top: 5px;
    left: 10px;
    display: inline;
}
.title{
    font-size: 30px;
    font-weight: 300px;
    font-family: 'Germania One', cursive;
    position: relative;
    left: 300px;
    bottom: 10px;
    display: inline-block;
}
.login-out{
    position: relative;
    top: 7px;
    right:10px;
    float: right;
    display: inline;
}

p{
    display: inline;
}
img{
    display: inline;
}
.container{
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 60px;
}
.header{
    border: 3px solid whitesmoke;
    width: 100%;
    height: 80px;
    background-color: rgb(240, 232, 232);
}
ul li{
    position: relative;
    top: 5px;
    margin: 4px;
    float: right;
    display: inline-block;
}
#date{
    position: relative;
    bottom: 10px;
}
.search{
    font-family: 'Lato', sans-serif;
    background-color: #fab1a0;
    width: 100%;
    height: 40px;
    border: 3px solid whitesmoke;
}
table, th, td, tr {
    font-family: 'Source Code Pro', monospace;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    background-color: rgb(240, 232, 232);
    border: 3px solid whitesmoke;
    border-collapse: collapse;
}
table{
      width: 100%;
}
th,td
#note0{
    width: 5%;
}
#noteThreads{
    width: 10%;
}
#noteForum{
    width: 30%;
}
#noteLastpost{
    width:55%;    
}
#note{
    text-align: center !important;
}
.myButton {
	-moz-box-shadow:inset 0px 39px 0px -24px #e67a73;
	-webkit-box-shadow:inset 0px 39px 0px -24px #e67a73;
	box-shadow:inset 0px 39px 0px -24px #e67a73;
	background-color:#e4685d;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:10px;
    padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.myButton:hover {
	background-color:#eb675e;
}
.myButton:active {
	position:relative;
	top:1px;
}


 #SCRIPT {
    box-sizing: border-box;
    font: normal normal 400 normal 16px / normal "Times New Roman";
}


#H1 {
    box-sizing: border-box;
    height: 37px;
    width: 1223px;
    perspective-origin: 611.5px 18.5px;
    transform-origin: 611.5px 18.5px;
    font: normal normal 700 normal 32px / normal "Times New Roman";
    margin: 0px;
}

#DIV_1 {
    box-sizing: border-box;
    height: 299px;
    width: 1223px;
    perspective-origin: 611.5px 149.5px;
    transform-origin: 611.5px 149.5px;
    font: normal normal 400 normal 16px / normal "Times New Roman";
}

#LABEL_1 {
    box-sizing: border-box;
    color: rgb(37, 44, 47);
    display: table-cell;
    height: 70px;
    text-decoration: none solid rgb(37, 44, 47);
    vertical-align: top;
    white-space: nowrap;
    width: 155px;
    column-rule-color: rgb(37, 44, 47);
    perspective-origin: 82.5px 35px;
    transform-origin: 82.5px 35px;
    caret-color: rgb(37, 44, 47);
    border: 0px none rgb(37, 44, 47);
    font: normal normal 700 normal 14px / normal Helvetica, Arial, Verdana, sans-serif;
    outline: rgb(37, 44, 47) none 0px;
    padding: 4px 10px 0px 0px;
}

#DIV_2 {
    box-sizing: border-box;
    color: rgb(37, 44, 47);
    display: table-cell;
    height: 70px;
    text-decoration: none solid rgb(37, 44, 47);
    width: 935px;
    column-rule-color: rgb(37, 44, 47);
    perspective-origin: 467.5px 35px;
    transform-origin: 467.5px 35px;
    caret-color: rgb(37, 44, 47);
    border: 0px none rgb(37, 44, 47);
    font: normal normal 400 normal 13px / normal Helvetica, Arial, Verdana, sans-serif;
    outline: rgb(37, 44, 47) none 0px;
    padding: 0px 0px 20px;
}

#INPUT_1, #INPUT_4, #INPUT_5 {
    background-position: 0px 0px;
    box-sizing: content-box;
    height: 22px;
    width: 906.938px;
    perspective-origin: 462.469px 13px;
    transform-origin: 462.469px 13px;
    caret-color: rgb(37, 44, 47);
    background: rgb(255, 255, 255) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 1px solid rgb(174, 179, 182);
    border-radius: 3px 3px 3px 3px;
    font: normal normal 400 normal 13px / normal Helvetica, Arial, Verdana, sans-serif;
    padding: 1px 8px;
}
#DIV_3 {
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    height: 14px;
    text-decoration: none solid rgb(119, 119, 119);
    width: 935px;
    column-rule-color: rgb(119, 119, 119);
    perspective-origin: 467.5px 7px;
    transform-origin: 467.5px 7px;
    caret-color: rgb(119, 119, 119);
    border: 0px none rgb(119, 119, 119);
    font: normal normal 400 normal 11px / normal Helvetica, Arial, Verdana, sans-serif;
    margin: 10px 0px 0px;
    outline: rgb(119, 119, 119) none 0px;
}

#DIV_4, #DIV_7, #DIV_8, #DIV_10 {
    box-sizing: border-box;
    color: rgb(37, 44, 47);
    display: table-row;
    height: 46px;
    text-decoration: none solid rgb(37, 44, 47);
    width: 1090px;
    column-rule-color: rgb(37, 44, 47);
    perspective-origin: 550px 23px;
    transform-origin: 550px 23px;
    caret-color: rgb(37, 44, 47);
    border: 0px none rgb(37, 44, 47);
    font: normal normal 400 normal 13px / normal Helvetica, Arial, Verdana, sans-serif;
    outline: rgb(37, 44, 47) none 0px;
}

#LABEL_2, #LABEL_3, #LABEL_4, #LABEL_5 {
    box-sizing: border-box;
    color: rgb(37, 44, 47);
    display: table-cell;
    height: 46px;
    text-decoration: none solid rgb(37, 44, 47);
    vertical-align: top;
    white-space: nowrap;
    width: 155px;
    column-rule-color: rgb(37, 44, 47);
    perspective-origin: 82.5px 23px;
    transform-origin: 82.5px 23px;
    caret-color: rgb(37, 44, 47);
    border: 0px none rgb(37, 44, 47);
    font: normal normal 700 normal 14px / normal Helvetica, Arial, Verdana, sans-serif;
    outline: rgb(37, 44, 47) none 0px;
    padding: 4px 10px 0px 0px;
}

#DIV_3, #DIV_6, #DIV_9 {
    box-sizing: border-box;
    color: rgb(37, 44, 47);
    display: table-cell;
    height: 46px;
    text-decoration: none solid rgb(37, 44, 47);
    width: 935px;
    column-rule-color: rgb(37, 44, 47);
    perspective-origin: 467.5px 23px;
    transform-origin: 467.5px 23px;
    caret-color: rgb(37, 44, 47);
    border: 0px none rgb(37, 44, 47);
    font: normal normal 400 normal 13px / normal Helvetica, Arial, Verdana, sans-serif;
    outline: rgb(37, 44, 47) none 0px;
    padding: 0px 0px 20px;
}


#INPUT_2, #INPUT_3 {
    background-position: 0px 0px;
    box-sizing: content-box;
    height: 18px;
    width: 906.938px;
    perspective-origin: 462.469px 13px;
    transform-origin: 462.469px 13px;
    caret-color: rgb(37, 44, 47);
    background: rgb(255, 255, 255) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 1px solid rgb(174, 179, 182);
    border-radius: 3px 3px 3px 3px;
    font: normal normal 400 normal 13px / normal Helvetica, Arial, Verdana, sans-serif;
    padding: 3px 8px;
}
#DIV_11 {
    box-sizing: border-box;
    color: rgb(37, 44, 47);
    display: table-cell;
    height: 46px;
    text-decoration: none solid rgb(37, 44, 47);
    width: 935px;
    column-rule-color: rgb(37, 44, 47);
    perspective-origin: 467.5px 23px;
    transform-origin: 467.5px 23px;
    caret-color: rgb(37, 44, 47);
    border: 0px none rgb(37, 44, 47);
    font: normal normal 400 normal 13px / normal Helvetica, Arial, Verdana, sans-serif;
    outline: rgb(37, 44, 47) none 0px;
    padding: 0px 0px 20px;
}
#LABEL_6 {
    box-sizing: border-box;
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    font: normal normal 400 normal 16px / normal "Times New Roman";
}

#INPUT_6 {
    cursor: default;
    height: 13px;
    min-height: 13px;
    min-width: 13px;
    width: 13px;
    perspective-origin: 6.5px 6.5px;
    transform-origin: 6.5px 6.5px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(0, 0, 0);
    padding: 0px;
}

#SPAN_1, #SPAN_2 {
    box-sizing: border-box;
    cursor: default;
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    font: normal normal 400 normal 16px / normal "Times New Roman";
}
#SPAN_3{
    color: rgb(26, 6, 212);
    cursor: pointer;
    text-decoration: none solid rgb(35, 121, 181);
    column-rule-color: rgb(35, 121, 181);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(35, 121, 181);
    border: 0px none rgb(35, 121, 181);
    font: normal normal 400 normal 13px / normal Helvetica, Arial, Verdana, sans-serif;
    outline: rgb(35, 121, 181) none 0px;
}

#SPAN_5:after {
    color: rgb(35, 121, 181);
    cursor: pointer;
    text-decoration: none solid rgb(35, 121, 181);
    column-rule-color: rgb(35, 121, 181);
    caret-color: rgb(35, 121, 181);
    border: 0px none rgb(35, 121, 181);
    font: normal normal 400 normal 13px / normal Helvetica, Arial, Verdana, sans-serif;
    outline: rgb(35, 121, 181) none 0px;
}
#DIV_12 {
    box-sizing: border-box;
    color: rgb(37, 44, 47);
    height: 25px;
    text-decoration: none solid rgb(37, 44, 47);
    width: 1085px;
    column-rule-color: rgb(37, 44, 47);
    perspective-origin: 542.5px 12.5px;
    transform-origin: 542.5px 12.5px;
    caret-color: rgb(37, 44, 47);
    border: 0px none rgb(37, 44, 47);
    font: normal normal 400 normal 13px / normal Helvetica, Arial, Verdana, sans-serif;
    margin: 0px 15px 15px 0px;
    outline: rgb(37, 44, 47) none 0px;
}
#BUTTON_1 {
    background-position: 0px 0px;
    color: rgb(255, 255, 255);
    display: block;
    float: right;
    height: 25px;
    min-width: 65px;
    text-decoration: none solid rgb(255, 255, 255);
    vertical-align: middle;
    width: 122px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 61px 12.5px;
    transform-origin: 61px 12.5px;
    caret-color: rgb(255, 255, 255);
    background: rgb(15, 147, 255) linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.7) 100%) repeat scroll 0px 0px / auto padding-box border-box;
    border: 1px solid rgb(41, 137, 204);
    border-radius: 2px 2px 2px 2px;
    font: normal normal 700 normal 12px / normal Helvetica, Arial, Verdana, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 4px 12px;
}

#INPUT_7 {
    box-sizing: content-box;
    cursor: default;
    display: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(0, 0, 0);
    padding: 0px;
}

#DIV_13 {
    box-sizing: border-box;
    clear: both;
    color: rgb(37, 44, 47);
    height: 0px;
    text-decoration: none solid rgb(37, 44, 47);
    width: 1160px;
    column-rule-color: rgb(37, 44, 47);
    perspective-origin: 580px 0px;
    transform-origin: 580px 0px;
    caret-color: rgb(37, 44, 47);
    border: 0px none rgb(37, 44, 47);
    font: normal normal 400 normal 13px / normal Helvetica, Arial, Verdana, sans-serif;
    outline: rgb(37, 44, 47) none 0px;
}
